.Content{
    border: none;
    color:black;
    width:100em;
    height: 100em;
    top:0;
    position: fixed;
    opacity: 0.9;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.5s;
    z-index: 10;
    word-break: break-word;
    padding: 0.2rem;
     margin: 0; 
    overflow-wrap: break-word; 
    display: flex; 
    justify-content: center; 
    align-items: center ;   
    backdrop-filter:blur(6px);
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}


.Information{
    position: fixed;
    top: 50%;
    max-width: 33rem; 
    font-size: 1.4rem;
}

a{
    color:#04ADBF;
}